{%  extends "layout.html" %}
{% block content %}


<div class="content-section" style="border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(38, 70, 83, 0.6); width: 42em; background-color: rgba(226, 234, 252, 0.5); padding: 30px;">
   
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4" style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>CREATE YOUR RESUME</strong></legend>
            <div class="form-group" id="skillclass"  style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.achname.label(class="form-control-label") }}

                {% if form.achname.errors %}
                    {{ form.achname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.achname.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.achname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="skillclass"  style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.achdesc.label(class="form-control-label") }}

                {% if form.achdesc.errors %}
                    {{ form.achdesc(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.achdesc.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.achdesc(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            

            
            
            
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn", style="background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;",
                onmouseover="this.style.background='#22223b'",
                onmouseout="this.style.background='#264653'") }}
            </div>

    </form>

</div>

{% if achadded and title=="Acheivements"  %}
    <div class="content-section">
        <h4>Acheivements Added  </h4>
        {% for acheive in achadded %}
        <article>
            <h4 class="artile-title">{{ acheive.achname }}</h4>
            <p class="article-content">{{ acheive.achdesc }}</p>
    
        </article>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_acheive', acheive_id=acheive.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
          <!-- Modal -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_acheive', acheive_id=acheive.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

        {% endfor %}
    </div>
{% endif %}

 


{%  endblock content  %}

