{%  extends "layout.html" %}
{% block content %}


<div class="content-section" style="border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(38, 70, 83, 0.6); width: 42em; background-color: rgba(226, 234, 252, 0.5); padding: 30px;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4" style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>CREATE YOUR RESUME</strong></legend>
            <h5 style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>EDUCATION DETAILS</strong></h5>
            <div  id="skillclass">
            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.college.label(class="form-control-label") }}

                {% if form.college.errors %}
                    {{ form.college(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.college.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.college(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.start.label(class="form-control-label") }}

                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.end.label(class="form-control-label") }}

                {% if form.end.errors %}
                    {{ form.end(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.cgpa.label(class="form-control-label") }}

                {% if form.cgpa.errors %}
                    {{ form.cgpa(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.cgpa.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.cgpa(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
        </fieldset>
        <a href="/resume/new/experience" class="btn" style="float: right; background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;"
        onmouseover="this.style.background='green'",
        onmouseout="this.style.background='#264653'">Go to Work Experience</a>
        <div class="form-group">
            {{ form.submit(class="btn", style="background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;",
                onmouseover="this.style.background='#22223b'",
                onmouseout="this.style.background='#264653'") }}
        </div>
</form>

</div>


{% if eduadded and title=="Education"%}
<div class="content-section">
  <h4 style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>EDUCATION ADDED</strong></h4>
        
            {% for education in eduadded %}
        <article>
            <h5 class="article-title">{{ education.name }}</h5>
            <p class="subDetails">Student</p>
            <p class="subDetails"> {{ education.start }} - {{ education.end }}</p>
            <h3>CGPA - {{ education.cgpa }}</h3>
        </article>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_edu', education_id=education.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
           <!-- Modal -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_edu', education_id=education.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    
        {% endfor %}
       
    

</div>
{% endif %}




{%  endblock content  %}