{%  extends "layout.html" %}
{% block content %}


<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4">Make Resume</legend>
            <h1>Education Details</h1>
            <div  id="skillclass">
            <div class="form-group">
                {{ form.college.label(class="form-control-label") }}

                {% if form.college.errors %}
                    {{ form.college(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.college.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.college(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.start.label(class="form-control-label") }}

                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.end.label(class="form-control-label") }}

                {% if form.end.errors %}
                    {{ form.end(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.cgpa.label(class="form-control-label") }}

                {% if form.cgpa.errors %}
                    {{ form.cgpa(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.cgpa.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.cgpa(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </div>
        </fieldset>
        <a href="/resume/new/experience" class="btn btn-outline-success" style="float: right;">Go to Work Experience</a>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
</form>

</div>


{% if eduadded %}
<div class="content-section">
  <h4>Education Added</h4>
        
            {% for education in eduadded %}
        <article>
            <h2>{{ education.name }}</h2>
            <p class="subDetails">Student</p>
            <p class="subDetails"> {{ education.start }} - {{ education.end }}</p>
            <h3>CGPA - {{ education.cgpa }}</h3>
        </article>
    
        {% endfor %}
       
    

</div>
{% endif %}




{%  endblock content  %}