<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  

    {% if title %}
        <title>  {{ title }}</title>
    {% else %}
        <title>Home Page</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #264653;">
        <div class="container">
          <a class="navbar-brand mr-4" href="/" style="font-size: 24px;"><strong>RESUME GENERATOR</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/" style="font-size: 16px;"><strong>Home</strong></a>
              <a class="nav-item nav-link" href="/resume" style="font-size: 16px;"><strong>View Resume</strong></a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="/accounts" style="font-size: 16px;"><strong>My Account</strong></a>
              <a class="nav-item nav-link" href="/logout" style="font-size: 16px;"><strong>Logout</strong></a>
              <a class="nav-item nav-link" href="/resume/new" style="font-size: 16px;"><strong>Create</strong></a>
              {% else %}
              <a class="nav-item nav-link" href="/login" style="font-size: 16px;"><strong>Login</strong></a>
              <a class="nav-item nav-link" href="/register" style="font-size: 16px;"><strong>Register</strong></a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category,message in messages %}
              <div class="alert alert-{{ category }}">
                  {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>

        {%if title == "New Resume" or title=="Projects" or title=="Education"  or title=="Experience"  or title == "Skills" or title == "Acheivements" %}
        <div class="col-md-4">
          <div class="content-section" style="background-color: #faf9f9; border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(241, 156, 121, 0.3);">


              <a class="list-group-item list-group-item-light" class="active" href="/resume/new" style="font-size: 16px;"><strong>Home</strong></a>
              <a class="list-group-item list-group-item-light" href="/resume/new/education" style="font-size: 16px;"><strong>Education</strong></a>
              <a class="list-group-item list-group-item-light" href="/resume/new/experience" style="font-size: 16px;"><strong>Experience</strong></a>
              <a class="list-group-item list-group-item-light" href="/resume/new/projects" style="font-size: 16px;"><strong>Projects</strong></a>
              <a class="list-group-item list-group-item-light" href="/resume/new/skills" style="font-size: 16px;"><strong>Skills</strong></a>
              <a class="list-group-item list-group-item-light" href="/resume/new/acheive" style="font-size: 16px;"><strong>Acheivements</strong></a>

           
          </div>
        </div>

        {% endif %}


      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>