{% extends "layout.html" %}
{% block content %}
<div class="content-section" style="border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(38, 70, 83, 0.6); width: 42em; background-color: rgba(226, 234, 252, 0.5); padding: 30px;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>LOGIN HERE</strong></legend>


            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span> {{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.remember(class="form-check-input", style="margin-top: 12px;") }}
                {{ form.remember.label(class="form-check-input", style="margin-left: 5px;") }}
            </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn", style="margin-top: 50px; background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;",
                onmouseover="this.style.background='#22223b'",
                onmouseout="this.style.background='#264653'") }}
            </div>
            <small class="text-muted ml-2">
                <a href="{{ url_for('request_reset') }}" style="color: #3d5a80; font-weight: 500; margin-left: -10px;"><strong>Forgot Password ?</strong></a>
            </small>
    </form>

</div>

<div class="border-top pt-3">
    <small class="text-muted" style="font-weight: 500; font-size: medium;">
        Dont  Have An Account?  <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
    </small>
</div>
{% endblock content %}