{%  extends "layout.html" %}
{% block content %}


<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Make Resume</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.phoneno.label(class="form-control-label") }}

                {% if form.phoneno.errors %}
                    {{ form.phoneno(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phoneno.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.phoneno(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <h1>Education Details</h1>
            <div class="form-group">
                {{ form.college.label(class="form-control-label") }}

                {% if form.college.errors %}
                    {{ form.college(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.college.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.college(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.start.label(class="form-control-label") }}

                {% if form.start.errors %}
                    {{ form.start(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.start.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.start(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.end.label(class="form-control-label") }}

                {% if form.end.errors %}
                    {{ form.end(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.end.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.end(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.cgpa.label(class="form-control-label") }}

                {% if form.cgpa.errors %}
                    {{ form.cgpa(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.cgpa.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.cgpa(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <h1>Work Experience</h1>

            <div class="form-group">
                {{ form.company.label(class="form-control-label") }}

                {% if form.company.errors %}
                    {{ form.company(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.company.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.company(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.position.label(class="form-control-label") }}

                {% if form.position.errors %}
                    {{ form.position(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.position.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.position(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.startexp.label(class="form-control-label") }}

                {% if form.startexp.errors %}
                    {{ form.startexp(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.startexp.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.startexp(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.endexp.label(class="form-control-label") }}

                {% if form.endexp.errors %}
                    {{ form.endexp(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.endexp.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.endexp(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}

                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        
        <h1>Projects</h1>

        <div class="form-group">
            {{ form.projectname.label(class="form-control-label") }}

            {% if form.projectname.errors %}
                {{ form.projectname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.projectname.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.projectname(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.startpro.label(class="form-control-label") }}

            {% if form.startpro.errors %}
                {{ form.startpro(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.startpro.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.startpro(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.endpro.label(class="form-control-label") }}

            {% if form.endpro.errors %}
                {{ form.endpro(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.endpro.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.endpro(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}

            {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.description.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.description(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        
        <div class="form-group">
            {{ form.url.label(class="form-control-label") }}

            {% if form.url.errors %}
                {{ form.url(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.url.errors %}
                    <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.url(class="form-control form-control-lg") }}
            {% endif %}
        </div>


        







            
            
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>

</div>

    


{%  endblock content  %}