{%  extends "layout.html" %}
{% block content %}


<div class="content-section" style="border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(38, 70, 83, 0.6); width: 42em; background-color: rgba(226, 234, 252, 0.5); padding: 30px;">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4" style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>CREATE YOUR RESUME</strong></legend>
            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.designation.label(class="form-control-label") }}

                {% if form.designation.errors %}
                    {{ form.designation(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.designation.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.designation(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.phoneno.label(class="form-control-label") }}

                {% if form.phoneno.errors %}
                    {{ form.phoneno(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phoneno.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.phoneno(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.profile.label(class="form-control-label") }}

                {% if form.profile.errors %}
                    {{ form.profile(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.profile.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.profile(class="form-control form-control-lg") }}
                {% endif %}
            </div>

    


            
            
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn", style="background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;",
                onmouseover="this.style.background='#22223b'",
                onmouseout="this.style.background='#264653'") }}
            </div>
    </form>

</div>

    


{%  endblock content  %}