{%  extends "layout.html" %}
{% block content %}


<div class="content-section">
   
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4">Make Resume</legend>
            <div class="form-group" id="skillclass">
                {{ form.skillname.label(class="form-control-label") }}

                {% if form.skillname.errors %}
                    {{ form.skillname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.skillname.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.skillname(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            

            
            
            
            </fieldset>
            <a href="/resume/new/acheive" class="btn btn-outline-success" style="float: right;">Go to  Acheivements</a>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

    </form>

</div>

{% if skillsadded %}
    <div class="content-section">
        <h4>Skills Added </h4>
        {% for skills in skillsadded %}
        <ul>
            <li> {{ skills.skillname }} </li>
        </ul>
        {% endfor %}
    </div>
{% endif %}



{%  endblock content  %}

