{%  extends "layout.html" %}
{% block content %}


<div class="content-section" style="border-radius: 10px; box-shadow: 0px 10px 10px 0px rgba(38, 70, 83, 0.6); width: 42em; background-color: rgba(226, 234, 252, 0.5); padding: 30px;">
   
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" id="cloneunder">
            <legend class="border-bottom mb-4" style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>CREATE YOUR RESUME</strong></legend>
            <div class="form-group" id="skillclass" style="color: #3d5a80; font-weight: 720; font-size: large;">
                {{ form.skillname.label(class="form-control-label") }}

                {% if form.skillname.errors %}
                    {{ form.skillname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.skillname.errors %}
                    <span>{{error}} </span>

                    {% endfor %}

                </div>
                {% else %}
                {{ form.skillname(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            

            
            
            
            </fieldset>
            <a href="/resume/new/acheive" class="btn"style="float: right; background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;"
                onmouseover="this.style.background='green'",
                onmouseout="this.style.background='#264653'">Go to  Acheivements</a>
            <div class="form-group">
                {{ form.submit(class="btn", style="background-color: #264653; border-radius: 5px; border-color: white; color: white; font-weight: 700;",
                onmouseover="this.style.background='#22223b'",
                onmouseout="this.style.background='#264653'") }}
            </div>

    </form>

</div>

{% if skillsadded %}
    <div class="content-section">
        <h4 style="color: #264653; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>SKILLS ADDED</strong></h4>
        {% for skills in skillsadded %}
        <ul>
            <li> {{ skills.skillname }} </li>
        </ul>
        {% endfor %}
    </div>
{% endif %}



{%  endblock content  %}

